<a href="https://colab.research.google.com/github/Switej08/Python-Programming-II/blob/main/assingment%20(week-1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#assingment 1 #section A

In [ ]:
a = "Hello Python"

In [ ]:
a

'Hello Python'

In [ ]:
a = 5

In [ ]:
b = 9

In [ ]:
add = a+b

In [ ]:
add

14

In [ ]:
div =a/b

In [ ]:
div

0.5555555555555556

In [ ]:
l = 10

In [ ]:
b = 8

In [ ]:
area = 0.5*l*b

In [ ]:
area

40.0

In [ ]:
s = 5

In [ ]:
r = 10

In [ ]:
temp = s

In [ ]:
s = r

In [ ]:
y = temp

In [ ]:
(format (s))

'10'

In [ ]:
import random

In [ ]:
n = random.random()

In [ ]:
n

0.5408146013087243

In [ ]:
# section B

In [ ]:
km = 10

In [ ]:
conv_fac = 0.621371

In [ ]:
miles = km*conv_fac

In [ ]:
miles

6.21371

In [ ]:
c = 40

In [ ]:
f = (c*1.8)+32

In [ ]:
f

104.0

In [ ]:
import calendar

In [ ]:
yy = 2022

In [ ]:
mm = 5

In [ ]:
(calendar.month(yy,mm))

'      May 2022\nMo Tu We Th Fr Sa Su\n                   1\n 2  3  4  5  6  7  8\n 9 10 11 12 13 14 15\n16 17 18 19 20 21 22\n23 24 25 26 27 28 29\n30 31\n'

In [ ]:
import cmath

In [ ]:
a = 2

In [ ]:
b = 4

In [ ]:
c = 6

In [ ]:
z = (b**2) - (4*a*c)

In [ ]:
z

-32

In [ ]:
#setion c

In [ ]:
num = float(input("enter the number:"))
if num > 0:
  print("positive number")
elif num== 0:
  print("zero")
else:
  print("negative number")

enter the number:89
positive number

In [ ]:
num = int(input("enter the number:"))
if (num % 2) == 0:
  print("{0}is even".format(num))
else:
  print("{0}is odd".format(num))

enter the number:6
6is even

In [ ]:
num = 29
f = False
if num > 1:
  for i in range(2,num):
    if (num % i)== 0:
      f = True
      break

if f:
  print(num,"is not a prime number")
else:
  print(num,"is a prime number")

29 is a prime number

In [ ]:
lower = 1
upper = 10000

print("prime numbers between",lower,"and",upper,"are:")

for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if (num % i)==0:
      else:
        print(num)

IndentationError: ignored

In [ ]:
year = 2022
if (year % 400==0)and(year % 100==0):
  print("{0}is a leap year".format(year))
elif (year % 4==0)and(year % 100==0):
  print("{0}is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

2022 is not a leap year

In [ ]:
#section D

In [ ]:
num = 7
factorial = 1
if num < 0:
  print("there is no factorial of negative number")
elif num== 0:
  print("the factorial of 0 is 1")
else:
  for i in range (1,num+1):
    factorial = factorial*i
  print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

In [ ]:
num = 15
for i in range (1,11):
  print(num,'x',i,'=',num*i)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [ ]:
nterms = int(input("How many terms ?"))
n1 , n2 = 0,1 
count =0
if nterms <= 0:
  print("please enter positive integer")
elif nterms ==1:
  print("Fibonacci sequence upto",nterms,":")
  print(n1)
else:
  print("Fibonacci sequence:")
  while count < nterms:
    print(n1)
    nth= n1 + n2
    n1=n2
    n2=nth
    count +=1

How many terms ?8
Fibonacci sequence:
0
1
1
2
3
5
8
13

In [ ]:
u= int(input("enter the higher number:"))
v= int(input("enter the lower number:"))
for i in range(1,u+1):
  order =len(str(i))
  sum = 0
  temp = i
  while temp >0:
    digit = temp % 10
    sum = digit**order
    temp  = 10
  if n==sum:
    print(n,end='')

enter the higher number:2000
enter the lower number:100

In [ ]:
lower = 100
upper = 2000

for i in range (lower, upper+1):
  order = len(str(num))
  sum = 0

  temp = num
  while temp > 0:
    digit = temp % 10
    sum = digit**order
    temp = 10
  if num== sum:
    print(sum)

In [ ]:
num = 16

if num < 0:
  print("enter the positive number")
else:
  sum = 0
  while(num>0):
    sum = num
    num = 1
  print("Sum is equal to",sum)