<a href="https://colab.research.google.com/github/Switej08/Python-Programming-II/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#assingment 1 #section A

In [ ]:
a = "Hello Python"

In [ ]:
a

'Hello Python'

In [ ]:
a = 5

In [ ]:
b = 9

In [ ]:
add = a+b

In [ ]:
add

14

In [ ]:
div =a/b

In [ ]:
div

0.5555555555555556

In [ ]:
l = 10

In [ ]:
b = 8

In [ ]:
area = 0.5*l*b

In [ ]:
area

40.0

In [ ]:
s = 5

In [ ]:
r = 10

In [ ]:
temp = s

In [ ]:
s = r

In [ ]:
y = temp

In [ ]:
(format (s))

'10'

In [ ]:
import random

In [ ]:
n = random.random()

In [ ]:
n

0.5408146013087243

In [ ]:
# section B

In [ ]:
km = 10

In [ ]:
conv_fac = 0.621371

In [ ]:
miles = km*conv_fac

In [ ]:
miles

6.21371

In [ ]:
c = 40

In [ ]:
f = (c*1.8)+32

In [ ]:
f

104.0

In [ ]:
import calendar

In [ ]:
yy = 2022

In [ ]:
mm = 5

In [ ]:
(calendar.month(yy,mm))

'      May 2022\nMo Tu We Th Fr Sa Su\n                   1\n 2  3  4  5  6  7  8\n 9 10 11 12 13 14 15\n16 17 18 19 20 21 22\n23 24 25 26 27 28 29\n30 31\n'

In [ ]:
import cmath

In [ ]:
a = 2

In [ ]:
b = 4

In [ ]:
c = 6

In [ ]:
z = (b**2) - (4*a*c)

In [ ]:
z

-32

In [ ]:
#setion c

In [ ]:
num = float(input("enter the number:"))
if num > 0:
  print("positive number")
elif num== 0:
  print("zero")
else:
  print("negative number")

enter the number:89
positive number

In [ ]:
num = int(input("enter the number:"))
if (num % 2) == 0:
  print("{0}is even".format(num))
else:
  print("{0}is odd".format(num))

enter the number:6
6is even

In [ ]:
num = 29
f = False
if num > 1:
  for i in range(2,num):
    if (num % i)== 0:
      f = True
      break

if f:
  print(num,"is not a prime number")
else:
  print(num,"is a prime number")

29 is a prime number

In [ ]:
lower = 1
upper = 10000

print("prime numbers between",lower,"and",upper,"are:")

for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if (num % i)==0:
      else:
        print(num)

IndentationError: ignored

In [ ]:
year = 2022
if (year % 400==0)and(year % 100==0):
  print("{0}is a leap year".format(year))
elif (year % 4==0)and(year % 100==0):
  print("{0}is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

2022 is not a leap year

In [ ]:
#section D

In [ ]:
num = 7
factorial = 1
if num < 0:
  print("there is no factorial of negative number")
elif num== 0:
  print("the factorial of 0 is 1")
else:
  for i in range (1,num+1):
    factorial = factorial*i
  print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

In [ ]:
num = 15
for i in range (1,11):
  print(num,'x',i,'=',num*i)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [ ]:
nterms = int(input("How many terms ?"))
n1 , n2 = 0,1 
count =0
if nterms <= 0:
  print("please enter positive integer")
elif nterms ==1:
  print("Fibonacci sequence upto",nterms,":")
  print(n1)
else:
  print("Fibonacci sequence:")
  while count < nterms:
    print(n1)
    nth= n1 + n2
    n1=n2
    n2=nth
    count +=1

How many terms ?8
Fibonacci sequence:
0
1
1
2
3
5
8
13

In [ ]:
u= int(input("enter the higher number:"))
v= int(input("enter the lower number:"))
for i in range(1,u+1):
  order =len(str(i))
  sum = 0
  temp = i
  while temp >0:
    digit = temp % 10
    sum = digit**order
    temp  = 10
  if n==sum:
    print(n,end='')

In [ ]:
lower = 100
upper = 2000

for i in range (lower, upper+1):
  order = len(str(num))
  sum = 0

  temp = num
  while temp > 0:
    digit = temp % 10
    sum = digit**order
    temp = 10
  if num== sum:
    print(sum)

In [ ]:
num = 16

if num < 0:
  print("enter the positive number")
else:
  sum = 0
  while(num>0):
    sum = num
    num = 1
  print("Sum is equal to",sum)

In [ ]:
#section E

In [ ]:
arr = [1, 2, 3, 4, 5, 6, 7]
sum = 0

for i in range (len(arr)):
  sum = sum + arr[i]
print(sum)

In [ ]:
def largest (arr, n):
  for i in range (1,n):
    if arr [i] > max:
      max = arr[i]
  return max

arr = [10, 56, 368, 657]
n = len(arr)
a = largest(arr, n)
print("largest in given array", ans)

In [ ]:
def rotateArray(arr, n, d):
    temp = []
    i = 0
    while (i < d):
        temp.append(arr[i])
        i = i + 1
    i = 0
    while (d < n):
        arr[i] = arr[d]
        i = i + 1
        d = d + 1
    arr[:] = arr[: i] + temp
    return arr

arr = [1, 2, 3, 4, 5, 6, 7]
print("Array after left rotation is: ", end=' ')
print(rotateArray(arr, len(arr), 2))

Array after left rotation is:  [3, 4, 5, 6, 7, 1, 2]

In [ ]:
def splitArr(arr, n, k): 
    for i in range(0, k): 
        x = arr[0]
        for j in range(0, n-1):
            arr[j] = arr[j + 1]
          
        arr[n-1] = x

arr = [12, 10, 5, 6, 52, 36]
n = len(arr)
position = 2
  
splitArr(arr, n, position)
  
for i in range(0, n): 
    print(arr[i], end = ' ')

5 6 52 36 12 10

In [ ]:
def isMonotonic(A):
  
    return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
            all(A[i] >= A[i + 1] for i in range(len(A) - 1)))
  
A = [6, 5, 4, 4]
  
print(isMonotonic(A))

True

Section F

In [1]:
total = 0

list1 = [11, 5, 17, 18, 23]
 
for ele in range(0, len(list1)):
    total = total + list1[ele]
 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [2]:
def multiplyList(myList) :
     
    result = 1
    for x in myList:
         result = result * x
    return result
     
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [3]:
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("Smallest element is:", *list1[:1])

Smallest element is: 4

In [4]:
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("Largest element is:", list1[-1])

Largest element is: 99

In [5]:
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
 
# Removing duplicates from the list
list2 = list(set(list1))
 
list2.sort()
 
print("Second largest element is:", list2[-2])

Second largest element is: 45

In [6]:
l = [1000,298,3579,100,200,-45,900]
n = 4
  
l.sort()
print(l[-n:])

[298, 900, 1000, 3579]

In [7]:
list1 = [10, 21, 4, 45, 66, 93]
 
for num in list1:
 
    if num % 2 == 0:
        print(num, end=" ")

10 4 66

In [8]:
list1 = [10, 21, 4, 45, 66, 93]
 
for num in list1:
     
    if num % 2 != 0:
       print(num, end = " ")

21 45 93

In [9]:
test_list = [5, 6, [], 3, [], [], 9]
 
print("The original list is : " + str(test_list))
 
while [] in test_list :
    test_list.remove([])
 
print("List after empty list removal : " + str(test_list))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

In [10]:
def Cloning(li1):
    li_copy = li1[:]
    return li_copy

li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [11]:
def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count
 
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times